.csstest{
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(hu.jpg) !important;  */
    height: 200vh;
    background-size: cover;
    background-position: center;
    }

    .colsm{
        background-color: lemonchiffon;
    }